@charset "UTF-8";

:root{
   --mainColor: #f4f6f9;
   --textFont: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--mainColor); 
}

.titulo p{
    color: rgb(34, 74, 185);
    display: flex;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-size: clamp(6.5rem, 12vw, 15rem);
}


.InputCep{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1.5rem 1rem;
    border-radius: 1.25rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.20);

    display: inline-block;
    text-align: center;
    
}

form {
    text-align: center;
}

label{
    margin-right: 6.7rem;
}


.InputCep input{
 width: 55%;
 height: 2.2rem;
 font-size: 1.25rem;
 font-weight: 500;
 margin-right: 1.2rem;
 background-color: var(--mainColor);
}

.InputCep input::placeholder{
    font-size: 1.25rem;
    font-weight: 500;
    
}

.InputCep button{
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.1rem;
    border-radius: 50%;
    transform: translate(-40%, -20%);
}

.InputCep button:hover{
    color: rgb(229, 255, 0);
    background: rgb(31, 190, 31);
}

@media (max-width: 380px) {

    .InputCep{
        font-size: 1.4rem;
        padding: 1.5rem 0rem;
    }

}

